[Unit]
Description=Fireplace Notification
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python3.4 /home/pi/pythonTools/services/fireplace/smsUndertempNotification.py

[Install]
WantedBy=multi-user.target
