[Unit]
Description=Fireplace State Setter
After=multi-user.target

[Service]
Restart=always
RestartSec=3
Type=idle
ExecStart=/usr/bin/python3.4 /home/pi/ghomeTools/services/fireplace/stateSetter.py

[Install]
WantedBy=multi-user.target
