[Unit]
Description=SMS Main Help Application
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python /home/pi/pythonTools/sms_service/helpServer.py

[Install]
WantedBy=multi-user.target
